#======================================
# snippets from Ultisnips are available
#======================================


#--------------------
# Vim temporary files
#--------------------

*~
*.un~
*.swp


#---------------------------------
# Vim Spell Dictionary Binary File
#---------------------------------

en.utf-8.add.spl


