#===================================================================================================
#
#   Target Code : Python
#
#   Description
#
#   Additional info
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#
#===================================================================================================

snippet fileHeader "automatic filling head info" b
#===================================================================================================
#
#   Project : ${1}
#
#   Description${2:
#       ${3:text}}
#
#   Additional info${4:
#       ${5:text}}${6:
#
#   Author  : ${7:`!p import os; snip.rv = os.getenv('USERNAME') or os.getenv('USER');`}${8:
#   Email   : $9}}
#
#===================================================================================================

$0

endsnippet

snippet "todo" "to do message" bwA
#   TODO
#   ${0:what to do}
#   BY `!p import os; snip.rv = os.getenv('USERNAME') or os.getenv('USER');` AT `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

