#===================================================================================================
#
#   Target Code : Vim script
#
#   Description:
#
#   Additional info:
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#   Email   :
#
#===================================================================================================

snippet fileHeader "automatic filling head info" b
"===================================================================================================
"
"   Description${1:
"       ${2:text}}
"
"   Additional info${3:
"       ${4:text}}${5:
"
"   Author  : ${6:`!p import os; snip.rv = os.getenv('USERNAME') or os.getenv('USER');`}${7:
"   Email   : $8}}
"
"===================================================================================================

$0

endsnippet

